<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <link href="css/styles.css" rel="stylesheet">

</head>

<body>
    <div class="box" id="heading">
        <h1>
            <%= listTitle %>
        </h1>
    </div>

    <div class="box">
        
        <ul>
            <% newListItems.forEach(function(item) { %>
                
                    <form action="/edit" method="POST" style="display:inline;">
                        <input type="hidden" name="list" value="<%= listTitle %>">
                        <input type="hidden" name="id" value="<%= item.id %>">
                        <input type="text" name="newTitle" value="<%= item.title %>">
                        <input type="text" name="newDescription" value="<%= item.description %>">
                        <input type="date" name="newDueDate" value="<%= item.dueDate %>">
                        <button type="submit">Edit</button>
                        <hr/>
                    </form>
                
            <% }) %>
            
        </ul>
        
        <form action="/" method="POST">
            <input type="text" name="title" placeholder="Title">
            <input type="text" name="description" placeholder="Description">
            <input type="date" name="dueDate">
            <button type="submit">Add</button>
            
        </form>
        

    <footer>
        <form action="/clear" method="get">
            <input type="submit" value="Clear All List" class="box">
        </form>
        <br>
        copyright by kartik thakur
    </footer>
</body>

</html>